/testCode/Assignment1/build
/testCode/Assignment2/build
/testCode/Assignment3/build
/testCode/Assignment4/build
/testCode/Assignment5/build
/testCode/Assignment6/build
/testCode/Assignment7/build
/testCode/pa0/build